.Phone{
  display: flex;
  justify-content: space-between;
  .phone__main{
    width: 70%;
    .phone__img--wrap{
      .phone__img{
        height: 400px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .characteristic{
      margin-bottom: 50px;
      .characteristic__row{
        display: flex;
        justify-content: space-between;
        p{
          width: 70%;
          border: 1px solid #ccc;
          margin: 0;
          padding: 10px;
          &:first-of-type{
            text-transform: capitalize;
            width: 30%;
          }
        }
      }
    }
  }
  .phone__sidebar{
    width: 25%;
  }
  .btn{
    margin-bottom: 20px;
  }

}